---
layout: archive
title: "Life Experiences"
permalink: /portfolio/
author_profile: true
---

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div style="flex: 1; min-width: 300px; border: 1px solid #ccc; padding: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h2>Sports</h2>
        <p>Published: December 18, 2023</p>
        <p>Short description of portfolio item number 2</p>
    </div>
    <div style="flex: 1; min-width: 300px; border: 1px solid #ccc; padding: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h2>Movie</h2>
        <p>Published: December 18, 2023</p>
        <p>Short description of portfolio item number 2</p>
    </div>
    <div style="flex: 1; min-width: 300px; border: 1px solid #ccc; padding: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h2>Music</h2>
        <p>Published: December 18, 2023</p>
        <p>A glimpse into my journey in music, encompassing my experiences, performances, and the joy it brings.</p>
    </div>
</div>





{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}











<!DOCTYPE html>
<html>
<head>
    <title>Chat with Me</title>
</head>
<body>

<h2>Chat with me</h2>

<p><strong>Jan 2023:</strong> I have set up the <a href="https://calendly.com/huangjiongtao/30min">online-coffee-time</a> (Inspired by <strong><a href="https://elliottwu.com/">Shangzhe Wu</a></strong>). Welcome to chat with me!</p>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/huangjiongtao/30min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

</body>
</html>








<br>

<h2>Leave a Message</h2>

<br>

<!-- 假设这里是 Disqus 评论系统的嵌入代码 -->
<div id="disqus_thread"></div>
<script>
    (function() { 
        var d = document, s = d.createElement('script');
        s.src = 'https://YOUR_DISQUS_SHORTNAME.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<br>

<h2>Web Star History</h2>

<a href="https://github.com/GuangLun2000/GuangLun2000.github.io">Leave a star if you like it 🥰</a>

<a href="https://star-history.com/#GuangLun2000/GuangLun2000.github.io&Date">
    <img src="https://api.star-history.com/svg?repos=GuangLun2000/GuangLun2000.github.io&type=Date" alt="Star History Chart">
</a>

<br>
